[flake8]
max-line-length = 100
extend-ignore = E203, E266, E501, W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    *.egg,
    .venv,
    venv

per-file-ignores =
    __init__.py:F401

# 忽略 Qt 相关的一些警告
max-complexity = 15
